.header-weight-input-text-size {
  font-size: x-large;
}

.countdown-bar {
  width: 0%;
  background-color: #3F51B5;
}

.wait-bar {
  width: 100%;
  height: 4px;
  background: repeating-linear-gradient(135deg, #3F51B5 0 4px, #ffffff00 0 8px) right/200% 100%;
  animation: i3 7s infinite linear;
}

@keyframes i3 {
  100% {
    background-position: left
  }
}