<div class="flex flex-col h-full">
  <form class="card m-auto" [formGroup]="loginForm" (ngSubmit)="submit()">
    <!-- <h2>Войти</h2> -->

    <div
      [ngClass]="{invalid: loginForm.get('email')?.touched && loginForm.get('email')?.invalid}"
    >
      <label for="email">Email:</label>
      <input class="input-field" id="email" type="email" formControlName="email" />
      <div
        class="errors"
        *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
      >
        <small *ngIf="loginForm.get('email')?.errors?.['required']">
          Поле не должно быть пустым
        </small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">
          Поле должно содержать корректный email
        </small>
      </div>
    </div>

    <div
      [ngClass]="{invalid: loginForm.get('password')?.touched && loginForm.get('password')?.invalid}"
    >
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" />
      <div
        class="errors"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
      >
        <small *ngIf="loginForm.get('password')?.errors?.['required']">
          Введите пароль
        </small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
          Пароль должен быть не менее {{ loginForm.get("password")?.errors?.['minlength']?.requiredLength }} символов. 
        </small>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid || submitted"
    >
      Войти
    </button>
  </form>
</div>
