<div class="flex h-full flex-col">
  <div class="m-auto w-80">
    <form
      class="card"
      [formGroup]="loginForm"
      (ngSubmit)="submit()"
    >
      <div
        class="w-full font-bold text-green-800"
        *ngIf="route.snapshot.queryParams['registered-successfully']"
      >
        Регистрация прошла успешно! Теперь вы можете войти со своими логином и паролем:
      </div>

      <div>
        <div class="input-field-label">Username:</div>
      </div>
      <div>
        <input
          class="input-field"
          id="username"
          type="username"
          formControlName="username"
        />
      </div>
      <div
        class="input-field-errors"
        *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid"
      >
        <small *ngIf="loginForm.get('username')?.errors?.['required']"> Поле не должно быть пустым </small>
        <small *ngIf="loginForm.get('username')?.errors?.['username']">
          Поле должно содержать корректный username
        </small>
      </div>

      <div>
        <div class="input-field-label">Password:</div>
      </div>
      <div>
        <input
          class="input-field"
          id="password"
          type="password"
          formControlName="password"
        />
      </div>
      <div
        class="input-field-errors"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
      >
        <small *ngIf="loginForm.get('password')?.errors?.['required']"> Введите пароль </small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
          Пароль должен быть не менее {{ loginForm.get("password")?.errors?.['minlength']?.requiredLength }} символов.
        </small>
      </div>

      <button
        type="submit"
        class="input-field-button"
        [disabled]="loginForm.invalid || submitted"
      >
        Log in
      </button>
    </form>

    <div class="mt-2 text-base">
      Don't have an account?
      <a
        class="cursor-pointer font-medium text-blue-600 hover:underline dark:text-blue-500"
        routerLink="/register"
      >
        Register.
      </a>
    </div>
  </div>
</div>
