<mat-accordion class="sub-expansion-panel-38px-50px">
  <ng-container *ngFor="let bank of moneyService.banks">
    <mat-expansion-panel (opened)="bankExpanded(bank.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="overflow-hidden whitespace-nowrap text-base font-normal">{{ bank.title }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-bank-form
        [bankData]="bank"
        [formRole]="'edit'"
      />
    </mat-expansion-panel>
  </ng-container>

  <div class="mt-2">
    <mat-expansion-panel (opened)="bankExpanded(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add_circle_outline</mat-icon>
          <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">Добавить новый банк?</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-bank-form [formRole]="'new'" />
    </mat-expansion-panel>
  </div>
</mat-accordion>
