<div class="grid grid-cols-1 overflow-x-hidden">
  <ng-container *ngFor="let day of daysList">
    <ng-container *ngIf="day === selectedDateISO">
      <div
        class="card m-1"
        [@slideInOut]="direction"
      >
        <mat-card class="mb-2">
          <div class="my-2 overflow-hidden whitespace-nowrap text-center text-lg font-medium">
            {{ formatDate(selectedDateISO) }}
          </div>
        </mat-card>

        <mat-accordion class="base-grid">
          <ng-container *ngFor="let food of foodService.diaryFormatted$$()?.[selectedDateISO]?.['food'] | keyvalue">
            <mat-expansion-panel class="sub-expansion-panel-38px-50px sub-grid">
              <mat-expansion-panel-header
                #header
                class="food-expansion-panel sub-grid"
                [ngStyle]="getHeaderStyle(food.value.fraction)"
              >
                <mat-panel-title class="food-expansion-panel-title sub-grid">
                  <div
                    #foodCont
                    class="sub-grid flex w-full gap-1 overflow-hidden whitespace-nowrap text-base font-normal"
                  >
                    <div
                      #foodName
                      class="grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-white bg-clip-text text-transparent"
                    >
                      {{ food.value.formatted_food_name }}
                    </div>
                    <div
                      class="text-right"
                      #foodWeight
                    >
                      {{ food.value.formatted_weight }}
                    </div>
                    <div
                      class="text-right"
                      #foodKcals
                    >
                      {{ food.value.formatted_kcals }}
                    </div>
                    <div
                      class="text-right"
                      #foodPercent
                    >
                      {{ food.value.formatted_percent }}
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- <app-transaction-expense-income-form
              [transaction]="transaction"
              [formrole]="'edit'"
              [transactionkind]="'expense'"
              [transactiondate]="selecteddateiso"
            /> -->
            </mat-expansion-panel>
          </ng-container>

          <mat-expansion-panel class="sub-expansion-panel-38px-50px">
            <mat-expansion-panel-header class="food-expansion-panel">
              <mat-panel-title>
                <mat-icon>add</mat-icon>
                <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">добавить расход</div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- <app-transaction-expense-income-form
            [formrole]="'new'"
            [transactionkind]="'expense'"
            [transactiondate]="selecteddateiso"
          /> -->
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="fixed bottom-6 left-1/2 z-[1] flex -translate-x-1/2 transform gap-5">
  <button
    mat-mini-fab
    class="scale-125"
    color="primary"
    (click)="previous()"
  >
    <mat-icon class="scale-150">chevron_left</mat-icon>
  </button>

  <button
    mat-mini-fab
    class="scale-125"
    color="primary"
    (click)="picker.open()"
  >
    <mat-icon>calendar_today</mat-icon>
  </button>

  <button
    mat-mini-fab
    class="scale-125"
    color="primary"
    (click)="next()"
    [disabled]="isLastDay()"
  >
    <mat-icon class="scale-150">chevron_right</mat-icon>
  </button>
</div>

<mat-form-field class="hide-form">
  <input
    matInput
    [matDatepicker]="picker"
    [formControl]="calendarSelectedDay"
    (dateChange)="onDatePicked($event)"
    [max]="today"
  />
  <mat-datepicker-toggle [for]="picker" />
  <mat-datepicker
    touchUi
    #picker
  />
</mat-form-field>

<div class="h-[15vh]"></div>

<!-- 
        <div class="ml-3 mt-4 flex">
          <mat-icon class="mt-0.5">local_atm</mat-icon>
          <mat-icon class="mt-0.5 rotate-90">turn_left</mat-icon>
          <div class="mb-1 ml-1 text-lg font-medium">Расходы:</div>
        </div>

        <mat-accordion>
          <ng-container *ngfor="let transaction of moneyservice.transactionsbyday$$()?.[selecteddateiso]?.['expense']">
            <mat-expansion-panel class="sub-expansion-panel-38px-50px">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="flex w-full overflow-hidden whitespace-nowrap text-base font-normal">
                    <div
                      class="grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-white bg-clip-text text-transparent"
                    >
                      {{ getcategorytitle(transaction) }} {{ formattransactionnotes(transaction) }}
                    </div>
                    <div>{{ formattransactionamount(transaction.id) }}</div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <app-transaction-expense-income-form
                [transaction]="transaction"
                [formrole]="'edit'"
                [transactionkind]="'expense'"
                [transactiondate]="selecteddateiso"
              />
            </mat-expansion-panel>
          </ng-container>

          <mat-expansion-panel class="sub-expansion-panel-38px-50px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>add</mat-icon>
                <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">добавить расход</div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-transaction-expense-income-form
              [formrole]="'new'"
              [transactionkind]="'expense'"
              [transactiondate]="selecteddateiso"
            />
          </mat-expansion-panel>
        </mat-accordion>

        <div class="ml-2 mt-4 flex">
          <mat-icon class="mt-0.5 rotate-180">turn_left</mat-icon>
          <mat-icon class="mt-0.5">local_atm</mat-icon>
          <div class="mb-1 ml-2 text-lg font-medium">Доходы:</div>
        </div>

        <mat-accordion>
          <ng-container *ngFor="let transaction of moneyService.transactionsByDay$$()?.[selectedDateISO]?.['income']">
            <mat-expansion-panel class="sub-expansion-panel-38px-50px">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="flex w-full overflow-hidden whitespace-nowrap text-base font-normal">
                    <div
                      class="grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-white bg-clip-text text-transparent"
                    >
                      {{ getCategoryTitle(transaction) }} {{ formatTransactionNotes(transaction) }}
                    </div>
                    <div>{{ formatTransactionAmount(transaction.id) }}</div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <app-transaction-expense-income-form
                [transaction]="transaction"
                [formRole]="'edit'"
                [transactionKind]="'income'"
                [transactionDate]="selectedDateISO"
              />
            </mat-expansion-panel>
          </ng-container>

          <mat-expansion-panel class="sub-expansion-panel-38px-50px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>add</mat-icon>
                <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">Добавить доход</div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-transaction-expense-income-form
              [formRole]="'new'"
              [transactionKind]="'income'"
              [transactionDate]="selectedDateISO"
            />
          </mat-expansion-panel>
        </mat-accordion>

        <div class="ml-3 mt-4 flex">
          <mat-icon class="mt-0.5">local_atm</mat-icon>
          <mat-icon class="mt-0.5 rotate-90">straight</mat-icon>
          <mat-icon class="mt-0.5">local_atm</mat-icon>
          <div class="mb-1 ml-2 text-lg font-medium">Переводы:</div>
        </div>

        <mat-accordion>
          <ng-container
            *ngFor="let transaction of moneyService.transactionsByDay$$()?.[selectedDateISO]?.['transfer']; let i = index"
          >
            <ng-container *ngIf="i % 2 === 0">
              <mat-expansion-panel class="expansion-panel-2-row">
                <mat-expansion-panel-header class="expansion-panel-2-row-header">
                  <mat-panel-title class="relative">
                    <mat-icon class="absolute left-[1px] top-[15px] -rotate-[135deg] scale-100">turn_left</mat-icon>
                    <div class="flex w-full flex-col">
                      <div class="flex w-full overflow-hidden text-base font-normal">
                        <div
                          class="ml-6 grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-white bg-clip-text text-transparent"
                        >
                          {{ getOutgoingTransferAccountTitle(transaction.id) }}
                        </div>
                        <div class="whitespace-nowrap">
                          {{ formatTransactionAmount(transaction.id) }}
                        </div>
                      </div>
                      <div class="flex w-full overflow-hidden text-base font-normal">
                        <div
                          class="ml-6 grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-white bg-clip-text text-transparent"
                        >
                          {{ getIncomingTransferAccountTitle(transaction.twin_transaction_id) }}
                        </div>
                        <div class="whitespace-nowrap">
                          {{ formatTransactionAmount(transaction.twin_transaction_id) }}
                        </div>
                      </div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <app-transaction-transfer-form
                  [sourceTransaction]="transaction"
                  [formRole]="'edit'"
                  [transactionDate]="selectedDateISO"
                />
              </mat-expansion-panel>
            </ng-container>
          </ng-container>

          <mat-expansion-panel class="sub-expansion-panel-38px-50px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>add</mat-icon>
                <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">Добавить перевод</div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-transaction-transfer-form
              [formRole]="'new'"
              [transactionDate]="selectedDateISO"
            />
          </mat-expansion-panel>
        </mat-accordion>
      -->
