<mat-button-toggle-group
  [(ngModel)]="activeCategoryKindKey"
  class="mb-4 w-full"
>
  <mat-button-toggle
    *ngFor="let kind of categoryKind"
    class="w-full font-medium text-base"
    [value]="kind.key"
  >
    {{ kind.title }}
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-accordion class="sub-expansion-panel-38px-50px">
  <div class="mb-4">
    <ng-container *ngFor="let category of moneyService.categories$$() | keyvalue">
      <ng-container *ngIf="category.value.kind === activeCategoryKindKey">
        <mat-expansion-panel (opened)="categoryExpanded(category.value.id)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="overflow-hidden whitespace-nowrap text-base font-normal">{{ category.value.title }}</div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-category-form
            [formRole]="'edit'"
            [categoryData]="category.value"
          />
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </div>

  <mat-expansion-panel (opened)="categoryExpanded(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>add</mat-icon>
        <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">Добавить новую категорию?</div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-category-form
      [formRole]="'new'"
      [categoryKind]="activeCategoryKindKey"
    />
  </mat-expansion-panel>
</mat-accordion>
