<form
  [formGroup]="categoryForm"
  (submit)="onSubmit()"
>
  <mat-form-field>
    <mat-label>Название категории:</mat-label>

    <input
      #inputTitle
      matInput
      formControlName="title"
    />
  </mat-form-field>

  <div class="flex justify-end gap-2">
    <button
      *ngIf="formRole === 'edit'"
      type="button"
      mat-raised-button
      color="warn"
      (click)="openConfirmationModal('Вы уверены, что хотите удалить эту категорию?')"
    >
      Удалить
    </button>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!isFormValid()"
    >
      {{ formRole === 'edit' ? 'Сохранить' : 'Добавить' }}
    </button>
  </div>
</form>

