<div class="grid grid-cols-1 overflow-x-hidden">
  <ng-container *ngFor="let day of daysList">
    <ng-container *ngIf="day === selectedDateISO">
      <div
        class="card m-1"
        [@slideInOut]="direction"
      >
        <mat-accordion>
          <div class="mb-2">
            <mat-expansion-panel class="sub-expansion-panel-38px-50px">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="ml-4 w-full overflow-hidden whitespace-nowrap text-center text-lg font-medium">
                    {{ formatDate(selectedDateISO) }}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <app-body-weight-form
                *ngIf="foodService.diaryFormatted$$()?.[selectedDateISO]"
                [selectedDateISO]="selectedDateISO"
              />

              <div class="h-2"></div>

              <app-bmi [selectedDateISO]="selectedDateISO" />
            </mat-expansion-panel>
          </div>

          <div class="mb-2">
            <mat-card
              [ngStyle]="setBackgroundStyle(foodService.diaryFormatted$$()?.[selectedDateISO]?.['days_kcals_percent'] ?? 0)"
            >
              <div class="overflow-hidden whitespace-nowrap text-center">
                Съедено {{ foodService.diaryFormatted$$()?.[selectedDateISO]?.['days_kcals_eaten'] }} ккал от нормы
                {{ foodService.diary$$()?.[selectedDateISO]?.['target_kcals'] }}
                ({{ formatSelectedDaysEatenPercent() }}%)
              </div>
            </mat-card>
          </div>

          <div class="mb-2">
            <div
              #foodCont
              class="flex w-full gap-1 overflow-hidden whitespace-nowrap bg-white text-base font-normal"
            >
              <div
                #foodName
                class="grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-transparent bg-clip-text text-center text-transparent"
              >
                Блюдо:
              </div>

              <div
                #foodWeight
                class="text-center"
              >
                г.
              </div>

              <div
                #foodKcals
                class="text-center"
              >
                ккал.
              </div>

              <div
                #foodPercent
                class="text-center"
              >
                %
              </div>
            </div>

            <ng-container *ngFor="let food of foodService.diaryFormatted$$()?.[selectedDateISO]?.['food'] | keyvalue">
              <mat-expansion-panel
                class="sub-expansion-panel-38px-50px"
                (opened)="diaryEntryExpanded(food.value.id)"
              >
                <mat-expansion-panel-header
                  class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease"
                  [ngStyle]="setBackgroundStyle(food.value.food_kcal_percentage_of_days_norm)"
                >
                  <mat-panel-title class="mat-panel-title-margin-remove">
                    <div
                      #foodCont
                      class="flex w-full gap-1 overflow-hidden whitespace-nowrap text-base font-normal"
                    >
                      <div
                        #foodName
                        class="grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-transparent bg-clip-text text-transparent"
                      >
                        {{ food.value.formatted_food_name }}
                      </div>

                      <div
                        #foodWeight
                        class="text-right"
                      >
                        {{ food.value.formatted_food_weight }}
                      </div>

                      <div
                        #foodKcals
                        class="text-right"
                      >
                        {{ food.value.formatted_food_kcals }}
                      </div>

                      <div
                        #foodPercent
                        class="text-right"
                      >
                        {{ food.value.formatted_food_percent }}
                      </div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <app-edit-diary-entry-form [diaryEntry]="food.value" />
              </mat-expansion-panel>
            </ng-container>
          </div>
        </mat-accordion>
      </div>
    </ng-container>
  </ng-container>
</div>

<div
  class="fixed bottom-6 left-1/2 flex -translate-x-1/2 transform gap-5"
  style="z-index: 10"
>
  <button
    mat-mini-fab
    class="scale-125"
    color="primary"
    (click)="previous()"
  >
    <mat-icon class="scale-150">chevron_left</mat-icon>
  </button>

  <button
    mat-mini-fab
    class="scale-125"
    color="primary"
    (click)="picker.open()"
  >
    <mat-icon>calendar_today</mat-icon>
  </button>

  <button
    mat-mini-fab
    class="scale-125"
    color="primary"
    (click)="next()"
    [disabled]="isLastDay()"
  >
    <mat-icon class="scale-150">chevron_right</mat-icon>
  </button>
</div>

<mat-form-field class="hide-form">
  <input
    matInput
    [matDatepicker]="picker"
    [formControl]="calendarSelectedDay"
    (dateChange)="onDatePicked($event)"
    [max]="today"
  />
  <mat-datepicker-toggle [for]="picker" />
  <mat-datepicker
    touchUi
    #picker
  />
</mat-form-field>

<div class="h-[15vh]"></div>

<!-- Floating window for a 'new diary entry' form -->
<div
  class="fixed bottom-6 left-6"
  style="z-index: 10"
>
  <button
    mat-mini-fab
    class="scale-125"
    color="primary"
    (click)="showFloatingWindow = true"
  >
    <mat-icon class="scale-150">add</mat-icon>
  </button>
</div>

<div
  *ngIf="showFloatingWindow"
  class="fixed inset-0 flex flex-col justify-center bg-gray-700 bg-opacity-50 p-8"
  style="z-index: 90"
  (click)="showFloatingWindow = false"
>
  <div (click)="$event.stopPropagation()">
    <mat-card
      class="h-full w-full p-4"
      [@flyInOut]
    >
      <div class="mb-4 text-center text-xl font-medium">Добавление записи</div>

      <app-new-diary-entry-form
        [selectedDateISO]="selectedDateISO"
        (closeEvent)="onCloseEvent()"
      />
    </mat-card>
  </div>
</div>
