<form
  [formGroup]="currencyForm"
  (submit)="onSubmit()"
>
  <mat-form-field class="w-full">
    <mat-label>Название валюты:</mat-label>

    <input
      #inputTitle
      matInput
      formControlName="title"
    />
  </mat-form-field>

  <div class="mb-2 flex w-fit gap-4">
    <div>
      <mat-form-field>
        <mat-label>Тикер:</mat-label>

        <input
          matInput
          formControlName="ticker"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Символ:</mat-label>

        <input
          matInput
          formControlName="symbol"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="mb-2 flex w-fit gap-4">
    <div>
      <mat-button-toggle-group formControlName="symbol_pos">
        <mat-button-toggle value="prefix">Префикс</mat-button-toggle>
        <mat-button-toggle value="postfix">Суффикс</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="flex flex-col justify-center">
      <div class="flex">
        <mat-label class="mt-2">Пробел</mat-label>

        <mat-checkbox
          color="primary"
          class="scale-125"
          formControlName="whitespace"
        ></mat-checkbox>
      </div>
    </div>
  </div>

  <div class="mt-6 flex justify-end gap-2">
    <button
      *ngIf="formRole === 'edit'"
      type="button"
      mat-raised-button
      color="warn"
      (click)="openConfirmationModal('Вы уверены, что хотите удалить этот банк?')"
    >
      Удалить
    </button>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!isFormValid()"
    >
      {{ formRole === 'edit' ? 'Сохранить' : 'Добавить' }}
    </button>
  </div>
</form>
