<div
  class="flex h-full flex-col justify-end"
  (click)="closeMenu()"
>
  <div class="flex flex-col justify-end gap-3 rounded-xl p-3">
    <ng-container *ngFor="let button of buttons">
      <ng-container *ngIf="(isAuthenticated && button.requiresAuth) || (!isAuthenticated && !button.requiresAuth)">
        <button
          class="menu-button"
          mat-raised-button
          [routerLink]="button.link"
        >
          <div class="flex w-full gap-1">
            <div class="mt-[5px]">
              <mat-icon>{{ button.icon1Name }}</mat-icon>

              <mat-icon>{{ button.icon2Name }}</mat-icon>
            </div>

            <div class="mt-[4px] grow text-lg">
              {{ button.label }}
            </div>
          </div>
        </button>
      </ng-container>
    </ng-container>
  </div>

  <div class="mb-16"></div>
</div>
