<mat-accordion class="">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="flex w-full gap-1">
          <div class="mt-[5px]"><mat-icon>attach_money</mat-icon></div>
          <div class="mt-[4px] grow overflow-hidden whitespace-nowrap text-center text-xl">Мои валюты</div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-money-currency></app-money-currency>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="flex w-full gap-1">
          <div class="mt-[5px]"><mat-icon>account_balance</mat-icon></div>
          <div class="mt-[4px] grow overflow-hidden whitespace-nowrap text-center text-xl">Мои банки</div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-money-bank></app-money-bank>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="flex w-full gap-1">
          <div class="mt-[5px]"><mat-icon>payment</mat-icon></div>
          <div class="mt-[4px] grow overflow-hidden whitespace-nowrap text-center text-xl">Мои счета</div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-money-account></app-money-account>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="flex w-full gap-1">
          <div class="mt-[5px]"><mat-icon>category</mat-icon></div>
          <div class="mt-[4px] grow overflow-hidden whitespace-nowrap text-center text-xl">Мои категории</div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-money-category></app-money-category>
  </mat-expansion-panel>
</mat-accordion>
