<form
  [formGroup]="transactionForm"
  (submit)="onSubmit()"
>
  <div class="flex w-full gap-4">
    <mat-form-field class="w-7/12">
      <mat-label>Счёт</mat-label>
      <mat-select formControlName="account_id">
        <mat-option
          *ngFor="let account of moneyService.accounts$$() | keyvalue"
          [value]="account.value.id"
          (onSelectionChange)="updateChosenCurrencyId($event.isUserInput, account.value)"
        >
          {{ account.value.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-5/12">
      <mat-label>Сумма</mat-label>

      <span
        matPrefix
        *ngIf="chosenAccountsCurrencyPosition == 'prefix'"
        class="mx-2 mt-4 block"
      >
        {{ chosenAccountsCurrencySymbol }}
      </span>

      <input
        matInput
        formControlName="amount"
      />

      <span
        matSuffix
        *ngIf="chosenAccountsCurrencyPosition == 'postfix'"
        class="mx-2 mt-4 block"
      >
        {{ chosenAccountsCurrencySymbol }}
      </span>
    </mat-form-field>
  </div>

  <div class="flex w-full gap-4">
    <mat-form-field class="w-7/12">
      <mat-label>Категория</mat-label>
      <mat-select formControlName="category_id">
        <ng-container *ngFor="let category of moneyService.categories$$() | keyvalue">
          <mat-option
            *ngIf="category.value.kind === transactionKind"
            [value]="category.value.id"
          >
            {{ category.value.title }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-checkbox
      color="primary"
      class="mb-0 ml-0 mt-2 w-5/12"
      formControlName="is_gift"
    >
      <span class="text-base">Подарок</span>
    </mat-checkbox>
  </div>

  <mat-form-field class="w-full">
    <mat-label>Заметки</mat-label>
    <input
      matInput
      formControlName="notes"
    />
  </mat-form-field>

  <div class="flex justify-end gap-2">
    <button
      *ngIf="formRole === 'edit'"
      type="button"
      mat-raised-button
      color="warn"
      (click)="openConfirmationModal('Вы уверены, что хотите удалить эту транзакцию?')"
    >
      Удалить
    </button>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!isFormValid()"
    >
      {{ formRole === 'edit' ? 'Сохранить' : 'Добавить' }}
    </button>
  </div>
</form>
