<form
  [formGroup]="transactionForm"
  (submit)="onSubmit()"
>
  <mat-form-field class="w-full">
    <mat-label>Счёт</mat-label>
    <mat-select formControlName="account_id">
      <mat-option
        *ngFor="let account of moneyService.accounts$$() | keyvalue"
        [value]="account.value.id"
        (onSelectionChange)="updateChosenCurrencyId($event.isUserInput, account.value)"
      >
        {{ account.value.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Сумма</mat-label>

    <span
      matPrefix
      *ngIf="chosenAccountsCurrencyPosition == 'prefix'"
      class="mx-2"
    >
      {{ chosenAccountsCurrencySymbol }}
    </span>

    <span
      matSuffix
      *ngIf="chosenAccountsCurrencyPosition == 'postfix'"
      class="mx-2"
    >
      {{ chosenAccountsCurrencySymbol }}
    </span>

    <input
      matInput
      formControlName="amount"
    />
  </mat-form-field>

  <div class="flex justify-end gap-2">
    <button
      *ngIf="formRole === 'edit'"
      type="button"
      mat-raised-button
      color="warn"
      (click)="openConfirmationModal('Вы уверены, что хотите удалить этот банк?')"
    >
      Удалить
    </button>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!isFormValid()"
    >
      {{ formRole === 'edit' ? 'Сохранить' : 'Добавить' }}
    </button>
  </div>
</form>

<!-- 
  <mat-form-field class="w-full">
    <mat-label>Комментарий</mat-label>

    <input
      matInput
      formControlName="title"
    />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Валюта</mat-label>
    <mat-select formControlName="currency_id">
      <mat-option
        *ngFor="let currency of currencies"
        [value]="currency.id"
      >
        {{ currency.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox
    color="primary"
    class="mb-4 ml-2 scale-110"
    formControlName="invest"
  >
    Инвестиционный
  </mat-checkbox>

  <mat-form-field class="w-full">
    <mat-label>Вид счёта</mat-label>
    <mat-select formControlName="kind">
      <mat-option
        *ngFor="let kind of kinds"
        [value]="kind.key"
      >
        {{ kind.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  -->
