<form
  [formGroup]="bodyWeightForm"
  (submit)="onSubmit()"
>
  <div class="flex gap-2">
    <div class="w-1/2"></div>
    <div class="relative w-1/2">
      <mat-form-field
        appearance="outline"
        class="header-weight-input-text-size"
      >
        <mat-label>Вес сегодня</mat-label>

        <input
          matInput
          class="text-right"
          formControlName="bodyWeight"
          (input)="onWeightInput()"
          (keydown.enter)="onEnterPress()"
        />

        <span
          matSuffix
          *ngIf="bodyWeightForm.get('bodyWeight')?.touched && bodyWeightForm.get('bodyWeight')?.value !== ''"
          class="header-weight-input-text-size mx-2 mt-0 block"
        >
          кг
        </span>

        <mat-hint>ХХ.Х или ХХ</mat-hint>
      </mat-form-field>

      <div
        [@countdown-bar]
        *ngIf="countdownBarIsVisible"
        class="countdown-bar absolute bottom-5 h-1 rounded-md"
      ></div>

      <div
        *ngIf="waitBarVisible"
        class="wait-bar absolute bottom-5 h-1 rounded-md"
      ></div>
    </div>
  </div>
</form>
