<div class="my-4 text-center text-xl">
  {{ this.foodService.catalogue$$()?.[this.diaryEntryForm.get('food_catalogue_id')?.value]?.name }}
</div>

<form
  [formGroup]="diaryEntryForm"
  (submit)="onSubmit()"
>
  <div class="mt-2 flex w-full gap-4">
    <mat-form-field
      class="w-1/2"
      appearance="outline"
    >
      <mat-label>Ввести новый вес:</mat-label>

      <button
        type="button"
        matPrefix
        mat-icon-button
        *ngIf="diaryEntryForm.value.food_weight_new && diaryEntryForm.value.food_weight_new !== ''"
        aria-label="Очистить"
        (click)="diaryEntryForm.get('food_weight_new')?.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>

      <input
        matInput
        class="text-right"
        formControlName="food_weight_new"
        (input)="onNewWeightInput()"
      />

      <span
        matSuffix
        class="mx-2"
      >
        г.
      </span>
    </mat-form-field>

    <mat-form-field
      class="w-1/2"
      appearance="outline"
    >
      <mat-label>Изменить на:</mat-label>

      <button
        type="button"
        matPrefix
        mat-icon-button
        *ngIf="diaryEntryForm.value.food_weight_change && diaryEntryForm.value.food_weight_change !== ''"
        aria-label="Очистить"
        (click)="diaryEntryForm.get('food_weight_change')?.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>

      <input
        #foodWeightChangeElem
        matInput
        class="text-right"
        formControlName="food_weight_change"
        (input)="onChangeWeightInput()"
      />

      <span
        matSuffix
        class="mx-2"
      >
        г.
      </span>
    </mat-form-field>
  </div>

  <mat-card class="mb-4">
    <div class="py-2 text-center text-xl">Вес после сохранения:</div>
  </mat-card>

  <mat-card
    *ngIf="!errorMessageShow"
    class="mb-4 h-10 p-2"
  >
    <div class="overflow-hidden whitespace-nowrap text-center text-xl">
      {{ oldWeightDescriptionString }}
      <!-- can't decide... -->
      <!-- <mat-icon class="-mb-[5px] rotate-180">keyboard_backspace</mat-icon> -->
      <!-- <mat-icon class="-mb-[5px] rotate-[225deg]">transit_enterexit</mat-icon> -->
      <mat-icon class="-mb-[5px]">keyboard_double_arrow_right</mat-icon>
      <span class="font-bold"> {{ diaryEntryForm.value.food_weight_final }} </span>
      г.
    </div>
  </mat-card>

  <mat-card
    *ngIf="errorMessageShow"
    class="mb-4 h-10"
    style="background-color: orange"
  >
    <div class="flex h-full items-center justify-center">
      <div class="text-center">
        {{ errorMessageText }}
      </div>
    </div>
  </mat-card>

  <div class="mb-2 flex w-full gap-4">
    <button
      type="button"
      mat-raised-button
      color="warn"
      class="mat-button-enlarged-45-px grow text-lg"
      (click)="openConfirmationModal('Вы уверены, что хотите удалить эту запись?')"
    >
      Удалить
    </button>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="mat-button-enlarged-45-px grow text-lg"
      [disabled]="!isFormValid()"
    >
      Сохранить
    </button>
  </div>
</form>
