<form
  [formGroup]="diaryEntryForm"
  (submit)="onSubmit()"
>
  <mat-form-field appearance="outline">
    <mat-label>Еда:</mat-label>

    <input
      #foodInputElem
      type="text"
      matInput
      [formControl]="food_name"
      required
      [matAutocomplete]="autoGroup"
    />

    <button
      type="button"
      matSuffix
      mat-icon-button
      *ngIf="food_name.value !== ''"
      aria-label="Очистить"
      (click)="food_name.reset()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <mat-autocomplete
      #autoGroup="matAutocomplete"
      (optionSelected)="onFoodSelected($event)"
    >
      <mat-option
        *ngFor="let food of filteredCatalogue | async"
        [value]="food.name"
      >
        {{ food.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Вес в граммах:</mat-label>

    <input
      matInput
      class="text-right"
      formControlName="food_weight"
    />

    <span
      matSuffix
      class="mx-2"
    >
      г.
    </span>
  </mat-form-field>

  <div class="flex w-full flex-row-reverse">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="mat-button-enlarged-45-px text-lg"
      [disabled]="!isFormValid()"
    >
      Добавить
    </button>
  </div>
</form>
