<mat-accordion class="sub-expansion-panel-38px-50px">
  <ng-container *ngFor="let currency of moneyService.currencies">
    <mat-expansion-panel (opened)="currencyExpanded(currency.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="overflow-hidden whitespace-nowrap text-base font-normal">{{ currency.title }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-currency-form
        [currencyData]="currency"
        [formRole]="'edit'"
      />
    </mat-expansion-panel>
  </ng-container>

  <div class="mt-2">
    <mat-expansion-panel (opened)="currencyExpanded(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add_circle_outline</mat-icon>
          <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">Добавить новую валюту?</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-currency-form [formRole]="'new'" />
    </mat-expansion-panel>
  </div>
</mat-accordion>
