<mat-card>
  <div class="my-2 w-full text-center text-xl font-semibold">Каталог еды</div>
</mat-card>

<div class="h-6"></div>

<mat-accordion>
  <mat-card>
    <div class="my-1 w-full text-center text-lg font-medium">Моя еда:</div>
  </mat-card>

  <div class="h-1"></div>

  <ng-container *ngFor="let food of foodService.catalogueSortedListSelected$$()">
    <ng-container *ngIf="nameIncludesSearchQuery(food.name)">
      <mat-expansion-panel
        #foodExpansionPanel
        attr.data-food-id="{{ food.id }}"
        class="sub-expansion-panel-38px-50px"
      >
        <mat-expansion-panel-header
          class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease"
        >
          <mat-panel-title class="mat-panel-title-margin-remove">
            <div class="flex w-full text-base font-normal">
              <div
                class="grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-white bg-clip-text text-transparent"
              >
                {{ food.name }}
              </div>

              <div class="whitespace-nowrap">{{ food.kcals }} ккал.</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-food-catalogue-form
            [formRole]="'edit'"
            [categoryEntry]="food"
            (ownershipChanged)="onOwnershipChanged($event)"
          />
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>

  <div class="h-6"></div>

  <mat-card>
    <div class="my-1 w-full text-center text-lg font-medium">Общий список:</div>
  </mat-card>

  <div class="h-1"></div>

  <ng-container *ngFor="let food of foodService.catalogueSortedListLeftOut$$()">
    <ng-container *ngIf="nameIncludesSearchQuery(food.name)">
      <mat-expansion-panel
        #foodExpansionPanel
        attr.data-food-id="{{ food.id }}"
        class="sub-expansion-panel-38px-50px"
      >
        <mat-expansion-panel-header
          class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease"
        >
          <mat-panel-title class="mat-panel-title-margin-remove">
            <div class="flex w-full text-base font-normal">
              <div
                class="grow overflow-hidden whitespace-nowrap bg-gradient-to-r from-black via-black to-white bg-clip-text text-transparent"
              >
                {{ food.name }}
              </div>

              <div class="whitespace-nowrap">{{ food.kcals }} ккал.</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-food-catalogue-form
            [formRole]="'edit'"
            [categoryEntry]="food"
            (ownershipChanged)="onOwnershipChanged($event)"
          />
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>

  <div class="h-6"></div>

  <mat-expansion-panel class="sub-expansion-panel-38px-50px">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>add</mat-icon>
        <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">Добавить новую еду</div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-food-catalogue-form [formRole]="'new'" />
  </mat-expansion-panel>
</mat-accordion>

<div class="h-1"></div>

<div class="fixed bottom-0 left-0 flex w-full">
  <div class="grow px-6 pb-3">
    <div class="w-full bg-white bg-opacity-90 pt-2">
      <mat-form-field
        appearance="outline"
        class="catalogue-filter-input-hint-remove catalogue-filter-input-text-size w-full"
      >
        <mat-label>Фильтрация каталога</mat-label>

        <input
          #search
          matInput
          class="text-center"
          [ngModel]="usersInput"
          (ngModelChange)="onSearchInput($event)"
        />

        <button
          matSuffix
          mat-icon-button
          *ngIf="usersInput !== ''"
          aria-label="Очистить"
          (click)="onSearchInput('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="min-w-[70px]"></div>
</div>

<div class="h-[15vh]"></div>
