<div class="flex h-full flex-col">
  <div class="m-auto w-72 text-3xl">
    SETTINGS:

    <div
      class="menu-button btn-blue"
      href="#"
      (click)="logout($event)"
    >
      Logout
    </div>

    <!-- <div *ngIf="!register">
      <div class="text-xl">Sign in:</div>
      <app-login-page></app-login-page>
      <div class="mt-2 text-base">
        Don't have an account?
        <a
          class="cursor-pointer font-medium text-blue-600 hover:underline dark:text-blue-500"
          (click)="toggleRegistered()"
        >
          Register.
        </a>
      </div>
    </div>

    <div *ngIf="register">
      <div class="text-xl">Sign up:</div>
      <app-register-page></app-register-page>
      <div class="mt-2 text-base">
        Already have an account?
        <a
          class="cursor-pointer font-medium text-blue-600 hover:underline dark:text-blue-500"
          (click)="toggleRegistered()"
        >
          Log in.
        </a>
      </div>
    </div> -->

    <form action=""></form>
  </div>
</div>
