<form
  [formGroup]="accountForm"
  (submit)="onSubmit()"
>
  <mat-form-field class="w-full">
    <mat-label>Название счёта</mat-label>

    <input
      #inputTitle
      matInput
      formControlName="title"
    />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Банк</mat-label>
    <mat-select formControlName="bank_id">
      <mat-option
        *ngFor="let bank of bankList"
        [value]="bank.id"
      >
        {{ bank.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Валюта</mat-label>
    <mat-select formControlName="currency_id">
      <mat-option
        *ngFor="let currency of currencyList"
        [value]="currency.id"
      >
        {{ currency.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox
    color="primary"
    class="mb-4 ml-2 scale-110"
    formControlName="invest"
  >
    Инвестиционный
  </mat-checkbox>

  <mat-form-field class="w-full">
    <mat-label>Валюта</mat-label>
    <mat-select formControlName="kind">
      <mat-option
        *ngFor="let kind of kinds"
        [value]="kind.key"
      >
        {{ kind.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="flex justify-end gap-2">
    <button
      *ngIf="formRole === 'edit'"
      type="button"
      mat-raised-button
      color="warn"
      (click)="openConfirmationModal('Вы уверены, что хотите удалить этот банк?')"
    >
      Удалить
    </button>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!isFormValid()"
    >
      {{ formRole === 'edit' ? 'Сохранить' : 'Добавить' }}
    </button>
  </div>
</form>
