<mat-accordion class="sub-expansion-panel-38px-50px">
  <ng-container *ngFor="let account of accounts">
    <mat-expansion-panel (opened)="accountExpanded(account.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="overflow-hidden whitespace-nowrap text-base font-normal">{{ account.title }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-form-account
        [formRole]="'edit'"
        [accountData]="account"
        [bankList]="bankList"
        [currencyList]="currencyList"
      ></app-form-account>
    </mat-expansion-panel>
  </ng-container>

  <div class="mt-2">
    <mat-expansion-panel (opened)="accountExpanded(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add_circle_outline</mat-icon>
          <div class="ml-1 overflow-hidden whitespace-nowrap text-base font-normal">Добавить новый счёт?</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-form-account
        [formRole]="'new'"
        [bankList]="bankList"
        [currencyList]="currencyList"
      ></app-form-account>
    </mat-expansion-panel>
  </div>
</mat-accordion>
