<div class="flex flex-col">
  <div class="font-bold">Мои счета:</div>

  <div class="rounded-lg border p-2">
    <div
      *ngFor="let account of accounts"
      class="grid"
    >
      <div
        class="flex"
        (click)="toggleTabEdit(account)"
      >
        <div class="w-min whitespace-nowrap border-b-2 border-dashed">{{ account.title }} ↴</div>
        <div class="slug grow"></div>
      </div>

      <div
        class="foldable grid transition-all duration-200 ease-in-out"
        [ngClass]="accountsDivOpenState[account.id.toString()] ? 'open' : 'closed'"
      >
        <div class="overflow-hidden">
          <app-form-account
            [formRole]="'edit'"
            [bankList]="bankList"
            [currencyList]="currencyList"
            [accountFormData]="account"
            (accountChanged)="accountsRequest()"
          ></app-form-account>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <div
      class="w-min whitespace-nowrap border-b-2 border-dashed"
      (click)="toggleTabNew()"
    >
      Добавить ещё один? ↴
    </div>
    <div
      #newAccountDiv
      class="grid transition-all duration-200 ease-in-out"
      [ngClass]="accountsDivOpenState['newAccountDiv'] ? 'open' : 'closed'"
    >
      <div class="overflow-hidden">
        <app-form-account
          [formRole]="'new'"
          [bankList]="bankList"
          [currencyList]="currencyList"
          (accountChanged)="accountsRequest()"
        ></app-form-account>
      </div>
    </div>
  </div>
</div>
