<form
  [formGroup]="foodForm"
  (submit)="onSubmit()"
>
  <mat-form-field
    class="w-full"
    appearance="outline"
  >
    <mat-label>Название:</mat-label>

    <input
      matInput
      formControlName="name"
    />
  </mat-form-field>

  <mat-form-field
    class="w-full"
    appearance="outline"
  >
    <mat-label>Число ккал на 100 г.:</mat-label>

    <input
      matInput
      class="text-right"
      formControlName="kcals"
    />

    <span
      matSuffix
      class="mx-2"
    >
      ккал
    </span>

    <mat-hint>целое число</mat-hint>
  </mat-form-field>

  <div class="flex w-full flex-row-reverse py-2">
    <button
      mat-raised-button
      *ngIf="formRole == 'edit'"
      type="button"
      color="primary"
      class="mat-button-enlarged-45-px text-lg"
      [disabled]="changeOwnershipButtonDisabled"
      (click)="switchOwnership()"
    >
      {{ checkOwnership() ? 'Убрать моего списка' : 'Забрать к себе' }}
    </button>
  </div>

  <div class="flex w-full flex-row-reverse py-2">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="mat-button-enlarged-45-px text-lg"
      [disabled]="!isFormValid()"
    >
      {{ formRole === 'edit' ? 'Сохранить' : 'Добавить' }}
    </button>
  </div>
</form>
