<div class="flex h-full flex-col">
  <div class="m-auto w-80">
    <form
      class="card"
      [formGroup]="registerForm"
      (ngSubmit)="submit()"
    >
      <div>
        <div class="input-field-label">Username:</div>
      </div>
      <div>
        <input
          class="input-field"
          id="username"
          type="username"
          formControlName="username"
        />
      </div>
      <div
        class="input-field-errors"
        *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid"
      >
        <small *ngIf="registerForm.get('username')?.errors?.['required']"> Поле не должно быть пустым </small>
        <small *ngIf="registerForm.get('username')?.errors?.['username']">
          Поле должно содержать корректный username
        </small>
      </div>

      <div>
        <div class="input-field-label">Password:</div>
      </div>
      <div>
        <input
          class="input-field"
          id="password"
          type="password"
          formControlName="password"
        />
      </div>
      <div
        class="input-field-errors"
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
      >
        <small *ngIf="registerForm.get('password')?.errors?.['required']"> Введите пароль </small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Пароль должен быть не менее
          {{ registerForm.get("password")?.errors?.['minlength']?.requiredLength }} символов.
        </small>
      </div>

      <button
        type="submit"
        class="input-field-button"
        [disabled]="registerForm.invalid || submitted"
      >
        Register
      </button>
    </form>

    <div class="mt-2 text-base">
      Already have an account?
      <a
        class="cursor-pointer font-medium text-blue-600 hover:underline dark:text-blue-500"
        routerLink="/login"
      >
        Log in.
      </a>
    </div>
  </div>
</div>
