.mat-app-background {
  background-color: #f3f3f3;
}

.mat-bg-red-50 {
  background-color: #fef2f2 !important;
}
.mat-bg-red-100 {
  background-color: #fee2e2 !important;
}
.mat-bg-red-200 {
  background-color: #fecaca !important;
}
.mat-bg-red-500 {
  background-color: #f44336 !important;
}

.mat-bg-orange-50 {
  background-color: #fff7ed !important;
}

.mat-bg-amber-50 {
  background-color: #fffbeb !important;
}

.mat-bg-yellow-50 {
  background-color: #fefce8 !important;
}

.mat-bg-lime-50 {
  background-color: #f7fee7 !important;
}

.mat-bg-green-50 {
  background-color: #f0fdf4 !important;
}

.mat-bg-blue-50 {
  background-color: #eff6ff !important;
}