.mat-mdc-dialog-content {
  padding: 10px !important;
}

.main-expansion-panel {
  // --mat-expansion-header-collapsed-state-height: 44px;
}

.sub-expansion-panel-38px-50px {
  --mat-expansion-header-collapsed-state-height: 38px;
  --mat-expansion-header-expanded-state-height: 50px;
}

.expansion-panel-2-row-header {
  height: 62px !important;
}

.mat-mdc-form-field-infix {
  width: auto !important;
}

.mat-drawer {
  background-color: transparent !important;
  box-shadow: none !important;
}

// .mat-button-toggle-group {
//   height: 38px !important;
// }

// .mat-button-toggle-button {
//   height: 38px !important;
// }

.menu-button {
  height: 48px !important;
  padding: 0px !important;
}

.menu-button .mdc-button__label {
  width: 100% !important;
  height: 100% !important;
  padding: 10px 16px;
  overflow: hidden;
  margin: 0px;
}

// This rule is a fix for an accordion not in collapsed state while :entering with an animation...
.ng-animating div.mat-expansion-panel-content {
  height: 0px;
  visibility: hidden;
}

// Without this transfer transactions' expansion panel headers' title parts won't overflow correctly
.mat-content {
  display: block !important;
}

// Without this floating selector pane is the width of the mat-input, which can make the list items crumpled
.cdk-overlay-pane {
  min-width: fit-content !important;
}