:root {
  --fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mat-badge-text-font: var(--fonts-sans) !important;
  --mat-bottom-sheet-container-text-font: var(--fonts-sans) !important;
  --mat-datepicker-calendar-text-font: var(--fonts-sans) !important;
  --mat-expansion-container-text-font: var(--fonts-sans) !important;
  --mat-expansion-header-text-font: var(--fonts-sans) !important;
  --mat-form-field-container-text-font: var(--fonts-sans) !important;
  --mat-form-field-subscript-text-font: var(--fonts-sans) !important;
  --mat-legacy-button-toggle-text-font: var(--fonts-sans) !important;
  --mat-menu-item-label-text-font: var(--fonts-sans) !important;
  --mat-optgroup-label-text-font: var(--fonts-sans) !important;
  --mat-option-label-text-font: var(--fonts-sans) !important;
  --mat-paginator-container-text-font: var(--fonts-sans) !important;
  --mat-select-trigger-text-font: var(--fonts-sans) !important;
  --mat-standard-button-toggle-text-font: var(--fonts-sans) !important;
  --mat-stepper-container-text-font: var(--fonts-sans) !important;
  --mat-stepper-header-label-text-font: var(--fonts-sans) !important;
  --mat-table-footer-supporting-text-font: var(--fonts-sans) !important;
  --mat-table-header-headline-font: var(--fonts-sans) !important;
  --mat-table-row-item-label-text-font: var(--fonts-sans) !important;
  --mat-toolbar-title-text-font: var(--fonts-sans) !important;
  --mdc-filled-text-field-label-text-font: var(--fonts-sans) !important;
  --mdc-outlined-text-field-label-text-font: var(--fonts-sans) !important;
  --mdc-typography-button-font-family: var(--fonts-sans) !important;
  --mdc-typography-font-family: var(--fonts-sans) !important;
}

.mat-mdc-dialog-content {
  padding: 10px !important;
}

.food-expansion-panel {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

.food-expansion-panel-title {
  margin-right: 7px !important;
}

.sub-expansion-panel-38px-50px {
  --mat-expansion-header-collapsed-state-height: 38px;
  --mat-expansion-header-expanded-state-height: 50px;
}

.expansion-panel-2-row {
  --mat-expansion-header-collapsed-state-height: 62px;
  --mat-expansion-header-expanded-state-height: 74px;
}

// Making room for a mat-icon in 2-rowed transfer transaction. So it is not to be clipped.
.expansion-panel-2-row-header {
  padding-left: 10px !important;
}

.mat-mdc-form-field-infix {
  width: auto !important;
}

.mat-drawer {
  background-color: transparent !important;
  box-shadow: none !important;
}

.menu-button {
  height: 48px !important;
  padding: 0px !important;
}

.menu-button .mdc-button__label {
  width: 100% !important;
  height: 100% !important;
  padding: 10px 16px;
  overflow: hidden;
  margin: 0px;
}

// This rule is a fix for an accordion not in collapsed state while :entering with an animation...
.ng-animating div.mat-expansion-panel-content {
  height: 0px;
  visibility: hidden;
}

// Without this transfer transactions' expansion panel headers' title parts won't overflow correctly
.mat-content {
  display: block !important;
}

// Without this floating selector pane is the width of the mat-input, which can make the list items crumpled
.cdk-overlay-pane {
  min-width: fit-content !important;
}

// Style to fix the weird border within material input with outline appearance caused by tailwind
.mdc-notched-outline__notch {
  border-right: none !important;
}