@use 'colors';
@use 'redefine';

//////////////////////////////////////////////////////////// TAILWIND SETTINGS:

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /////////////////////////////////////////////// LOGIN AND REGISTRATION FORMS:
  .input-field-label {
    @apply text-xl mt-2;
  }

  .input-field {
    @apply rounded-lg border-2 border-blue-100 bg-blue-50 text-xl w-full;
  }

  .input-field-errors {
    @apply text-red-800;
  }

  .input-field-button {
    @apply bg-blue-500 text-white hover:bg-blue-600 text-xl w-full rounded-md h-10 mt-4;
  }
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}