@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ///////////////////////////////////////////////////////////// NAVBAR BUTTONS:
  .menu-button {
    @apply 
    cursor-pointer
    rounded-tl-lg
    rounded-bl-lg
    py-3
    text-center
    font-semibold
    text-white
    shadow-md
  }

  .btn-blue {
    @apply bg-blue-500
    hover:bg-blue-600;
  }

  .btn-blue-active {
    @apply bg-blue-700;
  }

  .btn-green {
    @apply bg-green-500
    hover:bg-green-600;
  }

  .btn-green-active {
    @apply bg-green-700;
  }

  .btn-purple {
    @apply bg-purple-500
    hover:bg-purple-600;
  }

  .btn-purple-active {
    @apply bg-purple-700;
  }


  /////////////////////////////////////////////// LOGIN AND REGISTRATION FORMS:
  .input-field-label {
    @apply text-xl mt-2;
  }

  .input-field {
    @apply rounded-lg
    border-2
    border-blue-100
    bg-blue-50
    text-xl
    w-full;
  }
  
  .input-field-errors {
    @apply text-red-800;
  }

  .input-field-button {
    @apply bg-blue-500
    text-white
    hover:bg-blue-600
    text-xl
    w-full
    rounded-md
    h-10
    mt-4;
  }
}

body {
  padding: 0px;
  margin: 0px;
}
