<div class="m-1">Индекс Массы Тела:</div>

<div
  #bmiParent
  class="relative mb-4 flex w-full gap-[2px] rounded-md border-2 p-[1px]"
>
  <div
    *ngIf="foodService.bmi$$()?.['pointerShiftsInPxByDate']?.[selectedDateISO]"
    class="absolute"
    [ngStyle]="{ left: foodService.bmi$$()?.['pointerShiftsInPxByDate']?.[selectedDateISO] + 'px' }"
  >
    <mat-icon class="absolute -bottom-[9px] -left-[11px] scale-75">expand_more</mat-icon>
    <mat-icon class="absolute -left-[11px] -top-[1px] scale-75">expand_less</mat-icon>
  </div>

  <div
    class="relative h-2 rounded-l-md bg-yellow-300"
    [ngStyle]="setBmiWidth(0)"
  ></div>

  <div
    class="relative h-2 bg-green-400"
    [ngStyle]="setBmiWidth(1)"
  >
    <span class="absolute -left-[10px] top-[10px] text-sm"> {{ setBmiKgBorderValue(1) }} </span>
  </div>

  <div
    class="relative h-2 bg-yellow-300"
    [ngStyle]="setBmiWidth(2)"
  >
    <span class="absolute -left-[10px] top-[10px] text-sm"> {{ setBmiKgBorderValue(2) }} </span>
  </div>

  <div
    class="relative h-2 bg-red-300"
    [ngStyle]="setBmiWidth(3)"
  >
    <span class="absolute -left-[10px] top-[10px] text-sm"> {{ setBmiKgBorderValue(3) }} </span>
  </div>

  <div
    class="relative h-2 bg-red-500"
    [ngStyle]="setBmiWidth(4)"
  >
    <span class="absolute -left-[10px] top-[10px] text-sm"> {{ setBmiKgBorderValue(4) }} </span>
  </div>

  <div
    class="relative h-2 rounded-r-md bg-red-700"
    [ngStyle]="setBmiWidth(5)"
  >
    <span class="absolute -left-[10px] top-[10px] text-sm"> {{ setBmiKgBorderValue(5) }} </span>
  </div>
</div>
